@import "tailwindcss";
@import "./root.css";
@import "./input.css";
@import "./plyr.css";
@import "./drag.css";
@import "./img.css";
@import "./select.css";
@import "./label.css";

@font-face {
    font-family: 'shuzi';
    src: url('/font/Digital-7MonoItalic.woff2') format('woff2');
    font-weight: bolder;
    font-display: swap;
}

@font-face {
    font-family: "shouxie";
    src: url("/font/Xim-Sans-Brahmic-3.ttf") format("truetype");
    font-display: swap;
}

.shouxie {
    font-family: 'shouxie';
}

.number {
    background-color: var(--theme_1);
    color: var(--theme_0);
    font-family: 'shuzi', monospace;
}

@property --rotate_bg {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

:root {
    --theme_0: #000;
    --theme_1: #000;
    --text_0: #000;
    --plyr-color-main: var(--text_0);

}

body {
    overflow: hidden;

    &::before {
        position: absolute;
        width: 100vw;
        height: 100vh;
        content: '';
        background-color: var(--theme_0);
        border-radius: 0.25rem;
        z-index: -1;
    }

    &::after {
        z-index: -1;
        position: absolute;
        left: 45vw;
        top: 40vh;
        content: '🏙️';
        font-size: 10vh;
        /* animation: lodingLabel ease-out infinite 1s; */
    }
}

@keyframes lodingLabel {
    from {
        content: '🏙️';
    }

    50% {
        content: '🌇';
    }

    to {
        content: '🌃';
    }
}

.label_bg {
    color: var(--theme_1);
    background-color: color-mix(in srgb, var(--theme_0) 50%, transparent);
}

.theme_bg_0 {
    background: linear-gradient(to top right, transparent 0%, var(--theme_0) var(--rotate_bg));
    background-color: var(--theme_1);
    animation: bgrotate 1s ease-in-out forwards;
}

@keyframes bgrotate {
    from {
        --rotate_bg: 0%;
    }

    to {
        --rotate_bg: 80%
    }
}



.text_0 {
    color: var(--text_0);
}

.theme_0 {
    background-color: color-mix(in srgb, var(--theme_0) 100%, transparent);
}

.theme_1 {
    background-color: var(--theme_1);
}

.theme_1_opacity {
    color: var(--text_0);
    background: color-mix(in srgb, var(--theme_1) 10%, rgba(0, 0, 0, 0.1) 90%);
}