@import "tailwindcss";
@import "./input.css";
@import "./plyr.css";
@import "./drag.css";

::-webkit-scrollbar {
    appearance: none;
    width: 4px;
    background: var(--theme_0);
}

::-webkit-scrollbar-thumb {
    background: var(--theme_1);
}

:root {
    --theme_0: #BBCB2E;
    --theme_1: #839705;
    --text_0: #6B7445;
    --plyr-color-main: var(--text_0);
}

.label_bg {
    color: var(--theme_1);
    background-color: color-mix(in srgb, var(--theme_0) 50%, transparent);
}

.theme_bg_0 {
    background: linear-gradient(to left bottom, transparent 0%, var(--theme_0) 80%);
    background-color: var(--theme_1);
}



.text_0 {
    color: var(--text_0);
}

.theme_0 {
    background-color: color-mix(in srgb, var(--theme_0) 100%, transparent);
}

.theme_1 {
    background-color: var(--theme_1);
}

.theme_1_opacity {
    color: var(--text_0);
    background: color-mix(in srgb, var(--theme_1) 10%, rgba(0, 0, 0, 0.1) 90%);
}