@import "tailwindcss";
@import "./input.css";
@import "./plyr.css";
@import "./drag.css";

::-webkit-scrollbar {
    appearance: none;
    width: 4px;
    background: var(--theme_1);
}

::-webkit-scrollbar-thumb {
    background: var(--theme_0);
}

:root {
    --theme_bg_0: #6CA651;
    --theme_0: #BBCB2E;
    --theme_0: #839705;
    --text_0: #6B7445;
    --plyr-color-main: var(--theme_0);
}

.card_bg{
    fill: red !important;
}

.label_bg {
    color: var(--theme_1);
    background-color: color-mix(in srgb, var(--theme_0) 20%, rgba(0, 0, 0, 0.2) 20%);
}

.text_0 {
    color: var(--text_0);
}

.theme_bg_0 {
    background-color: var(--theme_bg_0);
}

.theme_0 {
    background-color: var(--theme_0);
}

.theme_1 {
    background-color: var(--theme_1);
}

.theme_1_opacity {
    color: var(--text_0);
    background: color-mix(in srgb, var(--theme_1) 10%, rgba(0,0,0,0.1) 90%);
}