select {
    border-color: var(--theme_0);
}

option {
    background-color: var(--theme_0);
}

label {
    position: relative;
}

label:has(input[required])::before {
    left: -0.5rem;
    position: absolute;
    content: " *";
    color: red;
}

input {
    border-color: var(--theme_0);
    padding: 0.1rem;

    &:not([type="submit"]) {
        text-indent: 0.1rem;
        padding-right: 2rem;
    }
}

input[type=submit] {
    cursor: pointer;

    &:active {
        opacity: 0.9;
        transition: 250ms;
    }
}