input[disabled] {
    border-color: color-mix(in srgb, var(--theme_1) 50%, transparent 50%);
    opacity: 0.5;
}


input {
    outline: none;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--theme_1);
    padding: 0.2rem;
    text-indent: 0.25rem;


    &[type="button"],
    &[type="submit"] {
        text-indent: 0;
        padding-right: 0;
        background-color: var(--theme_0);
        border-radius: 0.25rem;
    }
}

input[type=submit],
input[type=button] {
    cursor: pointer;

    &:active {
        opacity: 0.9;
        transition: 250ms;
    }
}