input {
    padding: 0.05rem;
}

input[type=submit] {
    cursor: pointer;

    &:active {
        transform: scale(0.9);
        transition: 250ms;
    }
}

input:not([type=submit]) {
    text-indent: 0.25rem;
}